In [1]:
import pandas as pd
import numpy as np

In [5]:
patent = pd.read_csv("sea_managing_raw.csv", encoding="cp949")

In [6]:
patent["출원번호"].isnull().sum()

0

In [10]:
df_patent = patent[["출원번호", "Original US Class All[US]"]]

           출원번호                          Original US Class All[US]
0     11/644784                                134/166.R | 134/138
1     13/848244  106/627 | 106/600 | 106/631 | 106/632 | 106/63...
2     13/765924                                            204/554
3     13/767408                                  588/002 | 588/315
4     12/521154  210/709 | 210/711 | 210/712 | 210/713 | 210/71...
...         ...                                                ...
1900  09/389673                        075/398 | 075/399 | 075/711
1901  09/045188    210/688 | 210/747 | 210/912 | 588/001 | 588/020
1902  09/151716                        588/257 | 588/252 | 405/129
1903  09/238463  210/732 | 210/800 | 210/808 | 210/533 | 210/53...
1904  09/089886    210/605 | 210/613 | 210/614 | 210/625 | 210/903

[1905 rows x 2 columns]

In [15]:
edge_list = []
for data in zip(df_patent["출원번호"].tolist(), df_patent["Original US Class All[US]"].map(lambda x: x.split("|")).tolist()):
   for value in data[1]:
        edge_list.append([data[0], value.strip()])
edge_list[:10]

[['11/644784', '134/166.R'],
 ['11/644784', '134/138'],
 ['13/848244', '106/627'],
 ['13/848244', '106/600'],
 ['13/848244', '106/631'],
 ['13/848244', '106/632'],
 ['13/848244', '106/634'],
 ['13/848244', '210/702'],
 ['13/765924', '204/554'],
 ['13/767408', '588/002']]

In [21]:
df_edge_list = pd.DataFrame(edge_list)
df_edge_list["rating"] = 1
df_edge_list.groupby([0,1])["rating"].sum().unstack().fillna(0)

1,004/114.1,004/144.1,004/222,004/459,004/679,009/008.P,014/023,014/024,014/028,014/073,...,800/295,800/320,901/001,901/002,901/027,901/031,977/742,977/840,977/932,D25/113
0,,,,,,,,,,,,,,,,,,,,,
05/583686,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
05/634273,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
05/636159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
05/677447,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
05/701218,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13/981662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13/983259,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13/992113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13/994340,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14/035312,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0